In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('../ConversionAndRetrieval/TotalInfo.xlsx')

In [3]:
data.columns

Index(['userId', 'fullName', 'gender', 'dob', 'doj', 'specialization', 'city',
       'state', 'experience', 'userType', 'trainingId', 'trainingName',
       'trainingStatus', 'optimizedDuration', 'startDate', 'endDate',
       'TrainerId', 'trainerName', 'trainerDesignation', 'difficultyLevel',
       'assessment_completion_time_in_hours', 'assessment_percentage_done',
       'quizPassedOrFailed', 'ratingGivenByTrainer', 'scoreAchievedInQuiz'],
      dtype='object')

In [4]:
data.head()

,userId,fullName,gender,dob,doj,specialization,city,state,experience,userType,...,endDate,TrainerId,trainerName,trainerDesignation,difficultyLevel,assessment_completion_time_in_hours,assessment_percentage_done,quizPassedOrFailed,ratingGivenByTrainer,scoreAchievedInQuiz
0,Emp_44,Nicole Parker,Female,16-06-2022,24-09-2023,'Docker',Johnchester,New Jersey,1,User,...,2024-02-10,Emp_195,Michael,Technical Architect,easy,NaN,0,NaN,4,NaN
1,Emp_44,Nicole Parker,Female,16-06-2022,24-09-2023,'Penetration Testing',Johnchester,New Jersey,1,User,...,2024-02-10,Emp_195,Michael,Technical Architect,easy,NaN,0,NaN,4,NaN
2,Emp_44,Nicole Parker,Female,16-06-2022,24-09-2023,'Artificial Intelligence',Johnchester,New Jersey,1,User,...,2024-02-10,Emp_195,Michael,Technical Architect,easy,NaN,0,NaN,4,NaN
3,Emp_44,Nicole Parker,Female,16-06-2022,24-09-2023,'Azure',Johnchester,New Jersey,1,User,...,2024-02-10,Emp_195,Michael,Technical Architect,easy,NaN,0,NaN,4,NaN
4,Emp_51,Richard Jenkins,Female,27-04-1931,10-10-2022,'CI/CD',Carterton,Pennsylvania,17,User,...,2024-02-10,Emp_195,Michael,Technical Architect,easy,NaN,0,NaN,1,NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 964 entries, 0 to 963
Data columns (total 25 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   userId                               964 non-null    object
 1   fullName                             964 non-null    object
 2   gender                               964 non-null    object
 3   dob                                  964 non-null    object
 4   doj                                  964 non-null    object
 5   specialization                       964 non-null    object
 6   city                                 964 non-null    object
 7   state                                964 non-null    object
 8   experience                           964 non-null    int64
 9   userType                             964 non-null    object
 10  trainingId                           964 non-null    object
 11  trainingName                         964 non-null    object
 12  trainingStatus                       964 non-null    object
 13  optimizedDuration                    964 non-null    int64
 14  startDate                            964 non-null    object
 15  endDate                              964 non-null    object
 16  TrainerId                            964 non-null    object
 17  trainerName                          964 non-null    object
 18  trainerDesignation                   964 non-null    object
 19  difficultyLevel                      964 non-null    object
 20  assessment_completion_time_in_hours  380 non-null    float64
 21  assessment_percentage_done           964 non-null    int64
 22  quizPassedOrFailed                   380 non-null    object
 23  ratingGivenByTrainer                 964 non-null    int64
 24  scoreAchievedInQuiz                  380 non-null    float64
dtypes: float64(2), int64(4), object(19)
memory usage: 188.4+ KB

In [14]:
df1 = data[['gender', 'specialization', 'experience', 'optimizedDuration', 'difficultyLevel', 'ratingGivenByTrainer', 'trainingName']]
df1

,gender,specialization,experience,optimizedDuration,difficultyLevel,ratingGivenByTrainer,trainingName
0,Female,'Docker',1,6,easy,4,Machine Learning Basics
1,Female,'Penetration Testing',1,6,easy,4,Machine Learning Basics
2,Female,'Artificial Intelligence',1,6,easy,4,Machine Learning Basics
3,Female,'Azure',1,6,easy,4,Machine Learning Basics
4,Female,'CI/CD',17,6,easy,1,Machine Learning Basics
...,...,...,...,...,...,...,...
959,Male,'Angular',19,11,hard,5,Introduction to JavaScript
960,Male,'Machine Learning',19,11,hard,5,Introduction to JavaScript
961,Male,'Ruby',19,11,hard,5,Introduction to JavaScript
962,Male,'Git',19,11,hard,5,Introduction to JavaScript
963,Male,'Angular',19,11,hard,5,Introduction to JavaScript

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score , classification_report, confusion_matrix
from sklearn.preprocessing import LabelEncoder

# Assume df1 is your preprocessed DataFrame with features and target column 'trainingName'

# Separate features and target variable
X = df1[['gender', 'specialization', 'experience', 'ratingGivenByTrainer']]
y = df1['trainingName']

# Encode categorical variables if needed (e.g., one-hot encoding)
X_encoded = pd.get_dummies(X)
label_encoder = LabelEncoder()
y_encoded = label_encoder.fit_transform(y)

In [16]:
from xgboost import XGBClassifier

X_train, X_test, y_train, y_test = train_test_split(X_encoded, y_encoded, test_size=0.05, random_state=42)
xgb_classifier = XGBClassifier(random_state=42)
xgb_classifier.fit(X_train, y_train)

# Make predictions on the test set
y_pred = xgb_classifier.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy*100}")

Accuracy: 57.14285714285714